html, body {
    /*内外边距都设置为0*/
    margin: 0;
    padding: 0;
    /*每个字4%的宽度，每行最多是25个字，这样子字体也可以自适应*/
    font-size: 4vw;
}

.wrapper {
    width: 100%;
    height: 100%;
}

/********************** header *************************/

.wrapper header {
    width: 100%;
    height: 12vw;
    background-color: #0097FF;

    display: flex;
    /*垂直方向居中*/
    align-items: center;
}

.wrapper header .location {
    margin: 0 1vw 0 3vw;
    font-size: 4.5vw;
    font-weight: 600;
    color: white;
}

.wrapper header .location i {
    /*垂直方向对齐，即偏移量，负数往上正数往下*/
    vertical-align: -0.15em;
}

/********************** search *************************/

.wrapper .search {
    width: 100%;
    height: 13vw;
}

.wrapper .search .search-fixed-top {
    width: 100%;
    height: 13vw;
    background-color: #0097FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .search .search-fixed-top .search-box {
    width: 90%;
    height: 9vw;
    background-color: #fff;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5vw;
    color: #AEAEAE;
    font-family: "宋体", serif;
    /*让文本选中状态无效*/
    user-select: none;
}

.wrapper .search .search-fixed-top .search-box i {
    margin-right: 1vw;
}

/********************** 点餐分类部分 *************************/

.wrapper .food-category {
    width: 100%;
    height: 48vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.wrapper .food-category .category-item {
    width: 18vw;
    height: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.wrapper .food-category .category-item img {
    width: 15vw;
    height: 15vw;
}

.wrapper .food-category .category-item span {
    font-size: 3.5vw;
    color: #666;
}

/********************** 横幅广告部分 *************************/

.wrapper .banner {
    width: 95%;
    margin: 0 auto;
    height: 29vw;

    background-image: url("../assets/img/index_banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
    padding: 2vw 6vw;

    display: flex;
    flex-direction: column;
}

.wrapper .banner h3 {
    font-size: 4.2vw;
    /*margin-bottom: 1.2vw;*/
    margin: 0.5vw;
}

.wrapper .banner p {
    font-size: 3.4vw;
    color: #666;
    margin: 0.5vw;
    /*margin-bottom: 2.4vw;*/
}

.wrapper .banner a {
    font-size: 3vw;
    color: #c79060;
    font-weight: 700;
    margin-top: 3vw;
}

/********************** 超级会员部分 *************************/

.wrapper .super-member {
    width: 95%;
    height: 11.5vw;
    margin: 0 auto;
    background-color: #FEEDC1;
    margin-top: 1.3vw;
    border-radius: 2px;
    color: #644F1B;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .super-member .super-member-left {
    display: flex;
    align-items: center;
    margin-left: 4vw;
    user-select: none;
}

.wrapper .super-member .super-member-left img {
    width: 6vw;
    height: 6vw;
    margin-right: 2vw;
}

.wrapper .super-member .super-member-left h3 {
    font-size: 4vw;
    margin-right: 2vw;
}

.wrapper .super-member .super-member-left p {
    font-size: 3vw;
}

.wrapper .super-member .super-member-right {
    font-size: 3vw;
    margin-right: 4vw;
    cursor: pointer;
}

/********************** 推荐商家部分 *************************/

.wrapper .recommend {
    width: 100%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .recommend .recommend-line {
    width: 6vw;
    height: 0.2vw;
    background-color: #888;
}

.wrapper .recommend p {
    font-size: 4vw;
    margin: 0 4vw;
}

/********************** 推荐方式部分 *************************/

.wrapper .recommend-type {
    width: 100%;
    height: 5vw;
    margin-bottom: 5vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper .recommend-type .recommend-type-text {
    font-size: 3.5vw;
    color: #555;
}

.wrapper .recommend-type .recommend-type-text i {
    vertical-align: -0.16em;
}

/********************** 推荐商家列表部分 *************************/

.wrapper .business {
    width: 100%;
    /*由于商家个数是后端返回，所以高度不能固定，由内容自动撑开*/
    margin-bottom: 14vw;
}

.wrapper .business .business-shop {
    width: 100%;
    /*边框盒子*/
    box-sizing: border-box;
    padding: 1.5vw;
    user-select: none;
    /*下边框*/
    border-bottom: solid 1px #DDD;

    display: flex;
}

.wrapper .business .business-shop img {
    width: 18vw;
    height: 18vw;
}

.wrapper .business .business-shop .business-info {
    /*充满剩余的右边*/
    width: 100%;
    box-sizing: border-box;
    padding-left: 3vw;
}

.wrapper .business .business-shop .business-info .business-info-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.wrapper .business .business-shop .business-info .business-info-h h3 {
    font-size: 4vw;
    color: #333;
    margin: 0;
}

.wrapper .business .business-shop .business-info .business-info-h .business-info-like {
    width: 1.6vw;
    height: 3.4vw;
    background-color: #666;
    color: #fff;
    font-size: 4vw;
    margin-right: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .business .business-shop .business-info .business-info-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
    font-size: 3.1vw;
}

.wrapper .business .business-shop .business-info .business-info-star .business-info-star-left {
    display: flex;
    align-items: center;
}

.wrapper .business .business-shop .business-info .business-info-star .business-info-star-left i {
    color: #FEC80E;
    margin-right: 0.5vw;
    vertical-align: -0.15em;
}

.wrapper .business .business-shop .business-info .business-info-star .business-info-star-left p {
    color: #666;
    margin: 0;
    margin-left: 1vw;
}

.wrapper .business .business-shop .business-info .business-info-star .business-info-star-right {
    background-color: #0097FF;
    color: #fff;
    font-size: 2.5vw;
    border-radius: 2px;
    padding: 0 0.6vw;
}

.wrapper .business .business-shop .business-info .business-info-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;

    color: #666;
    font-size: 3.1vw;
}

.wrapper .business .business-shop .business-info .business-info-delivery p {
    margin: 0;
}

.wrapper .business .business-shop .business-info .business-info-explain {
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
}

.wrapper .business .business-shop .business-info .business-info-explain div {
    border: solid 1px #DDD;
    font-size: 2.8vw;
    color: #666;
    border-radius: 3px;
    padding: 0 0.1vw;
}

.wrapper .business .business-shop .business-info .business-info-promotion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8vw;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-left {
    display: flex;
    align-items: center;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-left .business-info-promotion-icon {
    width: 4vw;
    height: 4vw;
    background-color: #70BC46;
    border-radius: 3px;
    font-size: 3vw;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-left p {
    color: #666;
    font-size: 3vw;
    /*margin-left: 2vw;*/
    margin: 1vw;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-right {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    color: #999;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-right p {
    /*margin-right: 2vw;*/
    margin: 1vw;
}

.wrapper .business .business-shop .business-info .business-info-promotion .business-info-promotion-left .business-info-promotion-icon-te {
    width: 4vw;
    height: 4vw;
    background-color: #F1884F;
    border-radius: 3px;
    font-size: 3vw;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

/********************** 底部菜单部分 *************************/

.wrapper .footer {
    width: 100%;
    height: 14vw;
    border-top: solid 1px #DDD;

    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper .footer .footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #999;
    user-select: none;
    cursor: pointer;
}

.wrapper .footer .footer-menu span {
    font-size: 2.8vw;
}

.wrapper .footer .footer-menu i {
    font-size: 5vw;
}
